.list {
	margin-top: 30px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 260px));
	gap: 20px;
	display: grid;
}
.createForm {
	margin-top: 30px;
	max-width: 400px;
	> div {
		margin-bottom: 35px;
	}
}

.form {
	margin-bottom: 20px;
	> div {
		margin-bottom: 20px;
	}
}

.text {
	> label {
		& > textarea {
			min-height: 250px;
		}
	}
}

.removeBlock {
	max-width: 400px;
	padding: 15px 20px;
}

.btns {
	margin-top: 20px;
	display: flex;
	align-items: center;

	> button {
		padding: 10px 15px;
	}

	> button:first-child {
		margin-right: 20px;
	}
}

.help {
	color: var(--color-primary);
	font-weight: 700;
}

.link {
	margin-bottom: 20px;
}
.links {
	display: flex;
	flex-direction: column;
}
