.wrapper {
	min-height: 50vh;
}

.pag {
	margin-top: 50px;
	display: flex;
	align-items: center;
}
.pag {
	> li {
		&:not(:last-child) {
			margin-right: 15px;
		}
	}
}

.select {
	margin-bottom: 20px;

	> div:first-child {
		margin-bottom: 20px;
	}
}

.reset {
	min-height: 20px;
	margin-left: 35px;
}
