.block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;

	> button {
		min-width: 120px;
	}
}
.btn {
	&:disabled {
		background: crimson;
		border: none;
	}
}
