@import '../../../assets/styles/mixins.scss';
.field {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 30px;
	width: 100%;
	background-color: var(--color-white);
	transition: border-color 0.2s ease-in-out;
	border: 1px solid var(--color-blue);

	border-radius: 6px;
	> label {
		display: flex;
		flex-direction: column;
		> span {
			transition: font-size, 0.2s ease-in-out;
			margin-bottom: 10px;
			font-size: 14px;
			color: var(--color-gray);
		}
		> input {
			font-size: 16px;
		}
	}
}

.error {
	display: flex;
	align-items: center;
	position: absolute;
	word-wrap: break-word;
	bottom: -35px;
	min-width: 200px;
	min-height: 45px;
	left: 0;
	font-size: 12px;
	color: crimson;
	transition: bottom 0.25s ease-in-out;
}

.focused {
	border-color: var(--color-primary);
	> label {
		span {
			font-size: 12px;
		}
	}
}

.button {
	border-radius: var(--main-radius);
	min-width: 100px;
	min-height: 34px;
}

.btnOutlined {
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	border-color: var(--color-gray);
	color: var(--color-black);
	background-color: var(--color-white);
	transition: background-color, 0.3s ease-in-out;
	padding: 5px 10px;

	&:hover {
		background-color: rgb(186, 183, 183);
	}
}

.btnContained {
	background: linear-gradient(0deg, #fc8507, #ffa218);
	border-color: #fc8507 transparent #ffa218;
	border-style: solid;
	border-width: 1px;
	color: var(--color-white);
	transition: box-shadow 0.3s ease-in-out;

	&:hover {
		box-shadow: inset 0 0 0 50px hsl(0deg 0% 100% / 10%);
	}
}

.uploadField {
	max-width: 300px;
	border: none;
	position: relative;
	.uploadFlex {
		display: flex;
		align-items: center;

		> .uploadFileContainer {
			flex-shrink: 0;
			position: relative;

			img {
				object-position: center;
				object-fit: contain;
				pointer-events: none;
			}

			> span {
				@include fade();
			}
		}

		> label {
			width: 130px;
			display: flex;
			flex-direction: column;
			margin-right: 24px;

			&:hover > input {
				opacity: 1;
			}

			.error {
				position: relative;
				bottom: -12px;
			}

			> span {
				font-size: 14px;
				text-transform: uppercase;
				color: rgb(150, 146, 146);
				display: block;
				margin-bottom: 16px;
			}

			> input {
				display: block;
				width: 100%;
				font-size: 14px;
				color: rgb(150, 146, 146);
				&::-webkit-file-upload-button {
					margin-right: 16px;
					padding: 8px 16px;
					border-radius: 8px;
					border: none;
					opacity: 0.8;
					font-size: 12px;
					font-weight: 700;
					background-color: var(--color-primary);
					color: var(--color-white);
					transition: opacity 0.2s ease-in-out;
				}
			}
		}
	}
}

.textField {
	> label {
		& > textarea {
			display: block;
			font-family: inherit;
			width: 100%;
			resize: none;
			outline: none;
			border: none;
			background-color: transparent;
		}
	}
}
