.field {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 30px;
	margin-bottom: 12px;
	width: 100%;
	transition: border-color 0.2s ease-in-out;
	border: 1px solid transparent;
	border-radius: 6px;
	> label {
		display: flex;
		flex-direction: column;
		> span {
			transition: font-size, 0.2s ease-in-out;
			margin-bottom: 10px;
			font-size: 14px;
			color: var(--color-gray);
		}
		> input {
			font-size: 16px;
		}
	}
}

.outlined {
	border-color: var(--color-primary);

	> label {
		span {
			font-size: 12px;
		}
	}
}
