.loader {
	margin: 0 auto;
	min-height: 400px;
	width: 80%;
}

.heading {
	margin-bottom: 20px;
}
.editBtn {
	display: block;
	margin-bottom: 20px;
}

.link {
	color: var(--color-blue);
	margin-bottom: 15px;
	text-decoration: underline;
}

.info {
	> .block {
		display: flex;
		flex-direction: column;
		span {
			display: block;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	> .first {
	}
	> .products {
		> ul {
			row-gap: 20px;
			column-gap: 10px;
			grid-template-columns: repeat(auto-fill, minmax(250px, 320px));
			> .product {
				display: flex;
				position: relative;
				flex-direction: column;
				border-radius: var(--main-radius);
				background-color: var(--color-white);
				padding: 10px;
				box-shadow: var(--shadow-dns);

				.productLink {
					position: absolute;
					top: 20px;
					right: 20px;
					> svg {
						width: 24px;
						height: 24px;
					}
				}
			}
		}
	}
}

.editWrapper {
	height: 450px;
	width: 450px;
}

.edit {
	padding: 15px;
}

.changeStatusBtn {
	margin-top: 20px;
}

.editActivity {
	display: flex;
	align-items: center;

	> span {
		margin-right: 10px;
	}
}
