.card {
	display: flex;
	flex-direction: column;
	background-color: var(--color-white);
	width: 280px;
	min-height: 356px;
	border-radius: var(--main-radius);
	box-shadow: var(--shadow-dns);
	padding: 12px;

	.img {
		display: block;

		margin-bottom: 12px;
		img {
			object-fit: contain;
		}
	}
	.descr {
		min-height: 70px;
		line-height: 1.4;
		margin-bottom: 10px;
	}
	.rating {
		display: flex;
		align-items: center;

		> span {
			font-weight: 700;
		}
		> svg {
			margin-left: 3px;
			height: 18px;
			width: 18px;
			fill: var(--color-primary);
		}
	}
	.actions {
		margin-top: auto;
		display: flex;
		align-items: center;

		> .price {
			font-size: 18px;
			font-weight: 700;
		}
	}
}
