.auth {
	margin: 0 auto;
	max-width: 540px;
	padding: 30px;
	border-radius: 12px;
	box-shadow: var(--shadow-dns);
	background-color: var(--color-white);
}

.modal {
	height: 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	> span {
		font-weight: 700;
		font-size: 18px;
	}
}

.title {
	text-align: center;
	margin-bottom: 30px;
}

.btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.authField {
	margin-bottom: 50px;
}
