.form {
	margin-bottom: 20px;
	> div {
		margin-bottom: 20px;
	}
}

.removeBlock {
	padding: 15px 20px;
}

.btns {
	margin-top: 20px;
	display: flex;
	align-items: center;

	> button {
		padding: 10px 15px;
	}

	> button:first-child {
		margin-right: 20px;
	}
}
