.footer {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: var(--color-black);
	padding: 30px 15px;
}

.wrapper {
	max-width: 600px;
	margin: 0 auto;
	> ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.gridItem {
	padding-bottom: 10px;
}
.link {
	display: flex;
	align-items: center;
	color: var(--color-white);
	text-decoration: none;
	transition: color 0.2s ease-in-out;

	&:hover {
		color: var(--color-primary);
	}

	span {
		margin-left: 8px;
	}
}

.text {
	color: var(--color-white);
	text-align: center;
	padding: 10px 0;
}
