.link {
	display: block;
	background-color: var(--color-white);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--main-radius);
	box-shadow: var(--shadow-dns);
	padding: 10px;
}

.brands {
	.link {
		> img {
			object-fit: contain;
		}
	}
}

@media (max-width: 1170px) {
	.brands {
		max-width: 900px;
	}
}
@media (max-width: 882px) {
	.brands {
		max-width: 600px;
	}
}

@media (max-width: 629px) {
	.brands {
		max-width: 400px;
	}
}

@media (max-width: 378px) {
	.brands {
		max-width: 100%;
	}
}
