.my-link {
	transition: color 0.2s ease-in-out;
	text-decoration: underline;
	display: inline-block;
	color: var(--color-black);

	&:hover {
		color: var(--color-primary);
	}
}

.my-icon {
	position: absolute;
	top: 20px;
	right: 15px;

	svg {
		fill: var(--color-primary);
		height: 22px;
		width: 22px;
	}
}

.hr {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 1px;
	background-color: var(--color-gray);
}

.simple-list {
	display: flex;
	flex-direction: column;

	> li {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

.actvie-link {
	color: var(--color-primary);
}

.my-datepicker {
	font-family: 'Roboto', monospace;
	background-color: var(--color-primary);
	padding: 15px;
	color: #ffffff;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 5px;
}
::-webkit-calendar-picker-indicator {
	background-color: #ffffff;
	padding: 5px;
	cursor: pointer;
	border-radius: 3px;
	-webkit-appearance: none;
}

@media (max-width: 500px) {
	.my-datepicker {
		width: 140px;
		padding: 6px;
	}

	::-webkit-calendar-picker-indicator {
		background-color: #ffffff;
		padding: 3px;
		cursor: pointer;
		border-radius: 3px;
		-webkit-appearance: none;
	}
}

.red {
	color: crimson;
}
.green {
	color: green;
}
.yellow {
	color: var(--color-primary);
}
.blue {
	color: blue;
}
.violet {
	color: blueviolet;
}

.pag-item {
	cursor: pointer;
	background-color: var(--color-white);
	color: var(--color-black);
	border-radius: 50%;
	font-weight: 700;
	display: flex;
	width: 45px;
	height: 45px;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
	&.pag-item-active {
		background-color: var(--color-primary);
		color: var(--color-white);
	}
}

.digit-input {
	max-width: 160px;
}

.product-price {
	display: flex;
	align-items: center;

	> span:first-child {
		font-weight: 700;
		font-size: 20px;
		margin-right: 15px;
	}

	> span:last-child {
		color: var(--color-gray);
		text-decoration: line-through;
	}
}

.product-price-small {
	> span:first-child {
		font-size: 16px;
		margin-right: 10px;
	}
	> span:last-child {
		font-size: 14px;
	}
}
