.breadcrumbs {
	display: flex;
	align-items: center;
	margin-bottom: 30px;

	> li {
		position: relative;

		&::after {
			content: '/';
			position: absolute;
			top: 0;
			right: -14px;
			font-weight: bold;
		}
	}

	> li:not(:last-child) {
		margin-right: 20px;
	}
	> :last-child {
		&::after {
			content: '';
		}
	}
}
.active {
	color: var(--color-primary);
}

@media (max-width: 500px) {
	.breadcrumbs {
		> li {
			> a {
				font-size: 13px;
			}
		}
	}
}
